.time{
    position: relative;
    text-align: center;
    padding:1.5rem;
}

.time h3{
    font-size: medium;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 0.3rem;
}
.colaboradores{
    display: flex;
    justify-content: space-around;
    margin:2rem;
    flex-wrap: wrap;
}

.input-cor{
    position:absolute;
    top: 6px;
    right: 50px;
}